body {
    background-color: #fffbe6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cat {
    position: relative;
    width: 200px;
    height: 200px;
}

/* 귀 */
.ear {
    width: 60px;
    height: 60px;
    background-color: #f9c4d2;
    position: absolute;
    top: -20px;
    border-radius: 70% 70% 0 0;
    z-index: 2;
    
}
.ear.left { left: -20px;
transform: rotate(-40deg);}
.ear.right { right: -20px; 
transform: rotate(40deg);}


/* 얼굴 */
.face {
    width: 100%;
    height: 100%;
    background-color:  #f9c4d2;
    border-radius: 50%;
    position: relative;
    z-index: 3;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* 눈 */
.eye {
    width: 20px;
    height: 20px;
    background-color: #000;
    position: absolute;
    top: 70px;
    border-radius: 50%;
    z-index: 4;
}
.eye.left { left: 50px; }
.eye.right { right: 50px; }

/* 코 */
.nose {
    width: 16px;
    height: 16px;
    background-color: #d46a6a;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: 5;
}

/* 입 */
.mouth {
    width: 28px;
    height: 20px;
    border-bottom: 3px solid #a0522d;
    position: absolute;
    top: 115px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 30px 14px;
    z-index: 5;
}

/* 수염 */
.whisker {
    width: 40px;
    height: 2px;
    background: #aaa;
    position: absolute;
    top: 110px;
    z-index: 6;
}
.whisker.left1 { left: 10px; transform: rotate(-10deg);}
.whisker.left2 { left: 10px; top: 120px; transform: rotate(10deg);}
.whisker.right1 { right: 10px; transform: rotate(10deg);}
.whisker.right2 { right: 10px; top: 120px; transform: rotate(-10deg);}
